<header class="navbar">
  <div class="container navbar-inner">
    <div class="logo">Ismael<span> Developer &lt;/&gt;</span></div>

    <nav>
      <a href="home" class="active">Home</a>
      <a href="services">Services</a>
      <a>Contact</a>
      <button>Hire me</button>
    </nav>
  </div>
</header>

<div class="projects gap-8">
  <h1 class="logos">Projects</h1>
  <div class="project-cards flex gap-8">
    <div class="card">
      <div class="image"></div>
      <div class="content">
        <a href="#">
          <span class="title">IT Ticketing System </span>
        </a>

        <p class="desc">
          A robust ticket management platform built for IT teams and developers.
          JWT aturhentication, acess control and more!

          <a class="action" href="#">
            See on Github
            <span aria-hidden="true"> → </span>
          </a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="image"></div>
      <div class="content">
        <a href="#">
          <span class="title">IT Ticketing System </span>
        </a>

        <p class="desc">
          A robust ticket management platform built for IT teams and developers.
          JWT aturhentication, acess control and more!

          <a class="action" href="#">
            See on Github
            <span aria-hidden="true"> → </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container service-content">
  <h1 class="logos">Technologies</h1>
  <div class="servcies-section-wrapper">
    <div class="services-box">
      <img src="NET logo.webp" width="170" alt="" />
      <h3>.NET Development</h3>
      <p class="description">
        We build modern and responsive websites tailored to your business needs.
      </p>
    </div>
    <div class="services-box">
      <img src="Power BI.png" width="170" alt="" />
      <h3>Power BI</h3>
      <p class="description">
        We create user-friendly mobile apps for iOS and Android platforms.
      </p>
    </div>
    <div class="services-box">
      <img src="SQL.png" alt="" />
      <h3>SQL</h3>
      <p class="description">
        Crafting intuitive and engaging designs to enhance user experience.
      </p>
    </div>
    <div class="services-box">
      <img src="Angular2.png" width="170" alt="" />
      <h3>Angular</h3>
      <p class="description">
        Crafting intuitive and engaging designs to enhance user experience.
      </p>
    </div>
  </div>
</div>
